<%= form_for @dog, html: { multipart: true }  do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <% if @dog.age == nil %>
      <%= f.number_field :age, :step => 'any', value: '0' %>
    <% else %>
      <%= f.number_field :age, :step => 'any' %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select([['Male'], ['Female']]) %>
  </div>
  <div class="field">
    <%= f.label :weight, "Weight (lbs)" %><br>
    <% if @dog.weight == nil %>
      <%= f.number_field :weight, :step => 'any', value: '0' %>
    <% else %>
      <%= f.number_field :weight, :step => '0.1' %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  
  <div class="field">
    <%= f.label :dog_image, "Image" %><br>
    <%= f.file_field :dog_image, :style=>"padding-bottom:45px;" %>
  </div>
  
  <div class="spacer"></div>
  
  <div class="actions col-md-6">
    <%= f.submit %>
  </div>
<% end %>
