<% provide(:title, "Dog Profile") %>
<br><br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dog.gender %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @dog.weight %>
</p>

<p>
  <strong>Owner:</strong>
  <!--< % @user = User.find(@dog.user_id) %>-->
  <%= @dog.user.first_name %> <%= @dog.user.last_name %>
</p>

<p>
  <strong>About:</strong>
  <%= @dog.about %>
</p>

<% if current_user.id == @dog.user_id%>
  <%= link_to 'Add Dogs', new_dog_path %> |
  <%= link_to 'Edit This Dog', edit_dog_path(@dog) %> |
<% end %>
<%= link_to 'Owner Profile', user_path(@dog.user_id) %>