<% provide(:title, "User Directory") %>
<script src="/assets/jquery.raty.js?body=1" type="text/javascript"></script>

<section class="page">
<div class="container">
<div class="row">

<h1>User Directory</h1>


<%= will_paginate %>

    
<%= form_tag users_path, method: :get do %>
  <%= label :location, "Search users near : " %>
  <%= text_field_tag :location, params[:location] %>

  <%= label :distance, "Distance : " %>
  <%= text_field_tag :distance, params[:distance] %>

  <%= submit_tag "Search" %>
<% end %>
    
<!-- Display Users -->
<section id="users">
<% @users.each do |user| %>

    <%= link_to user_path(user) do %> 
    <div id="user-one">
      
        <div id="user-pic">
        <%= image_tag user.image.url(:medium)%>
        </div>
        
        <div id="user-name">
        <% if user.first_name.blank? %> &nbsp;
        <% else %> <%= user.first_name %> <%= user.last_name %>
        <% end %>
        </div>
        
        <% @reviews = Review.where(receiver_id: user.id) %>
        <% if @reviews.blank? %> <% @avg_review = 0 %>
        <% else %> <% @avg_review = @reviews.average(:rating) %>
        <% end %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        
    </div>
    <% end %>

<% end %>
</section>

<%= will_paginate %>


<script>
    $('.star-rating').raty({
      path: '/assets',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>


<!--< % title "Locations" %>-->

<!--< %= form_tag locations_path, :method => :get do %>-->
<!--  <p>-->
<!--    < %= text_field_tag :search, params[:search] %>-->
<!--    < %= submit_tag "Search Near", :name => nil %>-->
<!--< % end %>-->


</div>
</div>
</section>