<% provide(:title, "User Profile") %>

<br/>
<br/>

<div class="container">

  <center><h1><b><%=@user.first_name%>'s Profile<b></h1></center>
  <br/>
  <br/>
  <br/>
  <!--User image-->
  <!--< %= gravatar_for (@user) %>-->
  <!--< % if current_user.email == @user.email%>-->
  <!--    <a href="http://gravatar.com/emails" target="_blank">Change Profile Picture</a>-->
  <!--< % end %>-->
  <!--<br/>-->
  <%= image_tag @user.image.url(:medium)%>
  <br>
  <!--Average Rating-->
  <div class="star-rating" data-score= <%= @avg_review %> ></div>
  <em><%= "#{@user_review.length} reviews" %></em>
  <br>
  
  <!--User info-->
  <br/>
  <p><b>Name:</b> <%=@user.first_name%> <%=@user.last_name%></p>
  <% if current_user.email == @user.email%>
      <p><b>Birthday:</b> <%=@user.birthday%> </p> 
      <p><b>Address:</b> <%=@user.address%> </p>
  <% end %>
  
  <!--<p><b>Dog Breed:</b> < %=@user.dog_breed%> </p>-->
  <!--<p><b>Dog Weight:</b> < %=@user.dog_weight%> </p>-->
  <!--<p><b>Dog Age:</b> < %=@user.dog_age%> </p>-->
  
  <p><b>About:</b> <%=@user.about%> </p>
  
  <% if current_user.email == @user.email%>
      <%= link_to 'Edit', edit_user_registration_path(@current_user) %> <br>
  <% end %>
  
  <!--Dog info-->
  <h1>Dogs Owned</h1>
  
  <!--version 1-->
  <div class="col-md-12">

    <% if @dogs.blank? %>
      <% if current_user.email != @user.email%>
        <h3><%= @user.first_name %> doesn't have a dog! :(</h3>
      <% else %>
        <h3>You have no dogs just yet!</h3>
      <% end %>
    <% else %>
      <% @dogs.each do |dog| %>
        <div class="card col-sm-6 col-md-4">
          <div class="card-block">
            <h4 class="card-title"><%= dog.name %></h4>
          </div>
          <%= image_tag dog.dog_image.url(:thumb ) %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: <%= dog.age %></li>
            <li class="list-group-item">Breed: <%= dog.breed %></li>
            <li class="list-group-item">Gender: <%= dog.gender %></li>
            <li class="list-group-item">Weight: <%= dog.weight %></li>
            <li class="list-group-item">About: <%= truncate( dog.about, :length => 20)  %></li>
            <li class="list-group-item">
              <%= link_to 'Show', dog %>
              <% if current_user.email == @user.email%>
                <%= link_to 'Edit', edit_dog_path(dog) %>
                <%= link_to 'Delete', dog, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
  <!--version 2-->
  <!--<table>-->
  <!--  <thead>-->
  <!--    <tr>-->
  <!--      <th>Name</th>-->
  <!--      <th>Breed</th>-->
  <!--      <th>Age</th>-->
  <!--      <th>Gender</th>-->
  <!--      <th>Weight</th>-->
  <!--      <th>About</th>-->
  <!--      <th colspan="3"></th>-->
  <!--    </tr>-->
  <!--  </thead>-->
  <!--  <tbody>-->
  <!--    <% @dogs.each do |dog| %>-->
  <!--      <tr>-->
  <!--        <td><%= dog.name %></td>-->
  <!--        <td><%= dog.breed %></td>-->
  <!--        <td><%= dog.age %></td>-->
  <!--        <td><%= dog.gender %></td>-->
  <!--        <td><%= dog.weight %></td>-->
  <!--        <td><%= truncate( dog.about, :length => 50) %></td>-->
  <!--        <td><%= link_to 'Show', dog %></td>-->
  <!--        <% if current_user.email == @user.email%>-->
  <!--          <td><%= link_to 'Edit', edit_dog_path(dog) %></td>-->
  <!--          <td><%= link_to 'Delete', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  <!--        <% end %>-->
  <!--      </tr>-->
  <!--    <% end %>-->
  <!--  </tbody>-->
  <!--</table>-->

  <% if current_user.email == @user.email%>
        <br><%= link_to 'New Dog', new_dog_path %>
  <% end %>
  <br>
  <%= link_to 'Back To All Users', users_path %>

  <!--Rating and Review-->
  <div>
    <h1 class="review_title">Reviews</h1>
    <%= will_paginate @reviews %>
  
    <% if @reviews.blank? %>
      <% if current_user.email != @user.email%>
        <h3>No reviews just yet, would you like to add the first?</h3>
        <%= link_to 'Write a Review', new_user_review_path(@user) %>
      <% else %>
        <h3>You have no reviews just yet!</h3>
      <% end %>
    <% else %>
      <% if current_user.email != @user.email%>
        <%= link_to 'Write a Review', new_user_review_path(@user) %>
      <% end %>
    
      <% @reviews.each do |review| %>  
        <% @reviewer = User.find(review.reviewer_id) %>
        <div class="reviews">
          <!--<div class="star-rating" data-score = <%= review.rating %>></div>-->
          <%= review.rating %>
          <p>By: <%= @reviewer.first_name %> <%= @reviewer.last_name %></p>
          <p>Comment: <%= review.comment %></p>
        </div>
      <% end %>
      <% if current_user.email != @user.email%>
        <%= link_to 'Write a Review', new_user_review_path(@user) %>
      <% end %>
    <% end %>
  <%= will_paginate @reviews %>
  </div>
  <br>

  
  
  <%= link_to 'Back To All Users', users_path %>
  
</div>

<script>
    $('.star-rating').raty({
      // starOn: '< %= image_path('star-on.png') %>',
      // starHalf: '< %= image_path('star-half.png') %>',
      // starOff: '< %= image_path('star-off.png') %>',
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>