
<br/>
<br/>


<center><h1><b>Profile <b></h1></center>
<br/>
<br/>
<br/>
<p><b>>>>>Name:</b><%=@user.first_name%> <%=@user.last_name%></p>
<p><b>>>>>Birthday:</b><%=@user.birthday%> </p> 
<p><b>>>>>Dog Breed:</b><%=@user.dog_breed%> </p>
<p><b>>>>>Dog Height:</b><%=@user.dog_height%> </p>
<p><b>>>>>Dog Weight:</b><%=@user.dog_weight%> </p>
<p><b>>>>>Dog Age:</b><%=@user.dog_age%> </p>
<p><b>>>>>Address:</b><%=@user.address%> </p>
<p><b>>>>>About:</b><%=@user.about%> </p>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>






