<% provide(:title, "User Profile") %>
<script src="/assets/jquery.raty.js?body=1" type="text/javascript"></script>

<section class="page">
<div class="container">
<div class="row">

  <h1 class="text-center"><b><%=@user.first_name%> <%=@user.last_name%></b></h1>
  <br/>
  <br/>
  <!--User image-->
  <%= image_tag @user.image.url(:medium) %>
  <br>
  
  <!--Average Rating-->
  <div class="star-rating" data-score= <%= @avg_review %> ></div>
  <em><%= "#{@user_review.length} review(s)" %></em>
  <br>
  
  <!--User info-->
  <br/>
  <p><b>Name:</b> <%=@user.first_name%> <%=@user.last_name%></p>
  <p>
    <b>Type:</b>
    <%= render partial: 'user_type', object: @user, as: 'user' %>
  </p>
  <% if current_user.email == @user.email%>
      <p><b>Birthday:</b> <%=@user.birthday%> </p> 
      <p><b>Address:</b> <%=@user.address%> </p>
  <% end %>
  
  <p><b>About:</b> <%=@user.about%> </p>
  
  <% if current_user.email == @user.email%>
      <%= link_to 'Edit', edit_user_registration_path(@current_user) %> <br>
  <% end %>
  
    <h3>Neighbourhood</h3>

<div>
  <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=<%= @user.latitude %>~<%=@user.longitude %>&amp;lvl=14&amp;w=500&amp;h=400&amp;sty=r&amp;typ=d&amp;pp=&amp;ps=&amp;dir=0&amp;mkt=en-ca&amp;src=SHELL&amp;form=BMEMJS"></iframe><div style="margin: 12px 0 0 0;"><a target="_blank" href="https://www.bing.com/maps/?cp=<%= @user.latitude %>~<%=@user.longitude %>&amp;sty=r&amp;lvl=14&amp;sp=&amp;mm_embed=map">View Larger Map</a></div>
  </div>



<h3>Nearby People (Within 2 Miles)</h3>
<ul>
<% for user in @user.nearbys(2) %>
  <% @name = "#{user.first_name} #{user.last_name}" %>
  
  <li><%= link_to @name , user_path(user) %> (<%= user.distance.round(2) %> miles)
  <%= render partial: 'user_type', locals: { user: user } %></li>
<% end %>
</ul>
  
  
  <!--Dog info-->
  <% if @user.owner %>
    <h1>Dogs Owned</h1>
    
    <div class="col-md-12">
    
      <% if @dogs.blank? %>
        <% if current_user.email != @user.email%>
          <h3><%= @user.first_name %> doesn't have a dog! :(</h3>
        <% else %>
          <h3>You have no dogs just yet!</h3>
        <% end %>
      <% else %>
        <% @dogs.each do |dog| %>
          <div class="card col-sm-6 col-md-4">
            <div class="card-block">
              <h4 class="card-title"><%= dog.name %></h4>
            </div>
            <%= image_tag dog.dog_image.url(:thumb ) %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Age</b>: <%= dog.age %></li>
              <li class="list-group-item"><b>Breed</b>: <%= dog.breed %></li>
              <li class="list-group-item"><b>Gender</b>: <%= dog.gender %></li>
              <li class="list-group-item"><b>Weight</b>: <%= dog.weight %></li>
              <li class="list-group-item"><b>About</b>: <%= truncate( dog.about, :length => 20)  %></li>
              <li class="list-group-item">
                <%= link_to 'Show', dog %>
                <% if current_user.email == @user.email%>
                  <%= link_to 'Edit', edit_dog_path(dog) %>
                  
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  
    <% if current_user.email == @user.email%>
          <br><%= link_to 'New Dog', new_dog_path %>
    <% end %>
    <br>
    <%= link_to 'Back To All Users', users_path %>
  <% end %>
  

  <!--Rating and Review-->
  <div>
    <h1 class="review_title">Reviews</h1>
    <%= will_paginate @reviews %>
  
    <% if @reviews.blank? %>
      <% if current_user.email != @user.email%>
        <h3>No reviews yet, would you like to add the first?</h3>
        <%= link_to 'Write a Review', new_user_review_path(@user) %>
      <% else %>
        <h3>You have no reviews yet!</h3>
      <% end %>
    <% else %>
      <% if current_user.email != @user.email%>
        <%= link_to 'Write a Review', new_user_review_path(@user) %>
      <% end %>
    
      <% @reviews.each do |review| %> 
        <% if User.exists?(review.reviewer_id) == true %>
          <% @reviewer = User.find(review.reviewer_id) %>
          <div class="reviews">
            <div class="star-rating" data-score = <%= review.rating %>></div>
            <p>By: <%= @reviewer.first_name %> <%= @reviewer.last_name %></p>
            <p>
              Comment: 
              <% if review.comment.length > 0 %>
                <%= review.comment %>
              <% else %>
                <%= @reviewer.first_name %> did not leave a comment. :(
              <% end %>
            </p>
          </div>
        <% end %>
        
      <% end %>
      <% if current_user.email != @user.email%>
        <%= link_to 'Write a Review', new_user_review_path(@user) %>
      <% end %>
    <% end %>
  <%= will_paginate @reviews %>
  </div>
  <br>
  



  <%= link_to 'Back To All Users', users_path %>
  
  
  <script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
  </script>

</div>
</div>
</section>