<% provide(:title, "User Profile") %>
<br/>
<br/>


<center><h1><b>Profile <b></h1></center>
<br/>
<br/>
<br/>
<%= gravatar_for (@user) %>
<% if current_user.email == @user.email%>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
<% end %>
<p><b>Name:</b><%=@user.first_name%> <%=@user.last_name%></p>
<p><b>Birthday:</b><%=@user.birthday%> </p> 
<p><b>Dog Breed:</b><%=@user.dog_breed%> </p>
<p><b>Dog Height:</b><%=@user.dog_height%> </p>
<p><b>Dog Weight:</b><%=@user.dog_weight%> </p>
<p><b>Dog Age:</b><%=@user.dog_age%> </p>
<p><b>Address:</b><%=@user.address%> </p>
<p><b>About:</b><%=@user.about%> </p>

<% if current_user.email == @user.email%>
    <%= link_to 'Edit', edit_user_registration_path(@current_user) %> <br>
<% end %>
<%= link_to 'Back', users_path %>