<% provide(:title, "View Event") %>

<section class="page">
<div class="container">
<div class="row">

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.desription %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>

</br>
</br>

<%= link_to 'Back', events_path %>

</div>
</div>
</section>