<%= form_for@post, html: { multipart: true }  do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>
  
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, required: true %>
  </div>
  
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty, required: true %>
  </div>
  
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.text_field :distance, required: true %>
  </div>
  
  <div class="field">
    <%= f.label :season %><br>
    <%= f.text_field :season, required: true %>
  </div>
  
   <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, required: true %>
  </div>

  <div class="actions col-md-6">
    <%= f.submit %>
  </div>
<% end %>