<% provide(:title, "Bulletin Board") %>

<br /><br />

<div class="container">

<h1>Community Bulletin Board</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
  <% end %>

<br /><br />

  <tbody>
    <% @posts.each do |pos| %>
      <% @owner = User.find(pos.user_id) %>
      <tr>
        <td><%= pos.title %></td>
        <td><%= truncate( pos.content, :length => 50) %></td>
        <td><%= @owner.first_name %> <%= @owner.last_name %></td>
        <td><%= pos.created_at %></td>
        <td><%= link_to 'Show', pos %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Post', new_post_path %>


</div>