<% provide(:title, "List of all the Hiking Trails") %>

<section class="page">
<div class="container">
<div class="row">
  
<h1>List of all the Hiking Trails</h1>

<%= form_tag posts_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<!--<div class="row">-->
<!--  <div class="col-md-6" id="pag-input-inline">-->
    <!--Search-->

<!--  </div>-->
  
</div>

<br />


<section id="bulletin-page">
  
<% @posts.each do |pos| %>
<% @owner = User.find(pos.user_id) %>

  <%= link_to pos do %>
  <div class="bulletin">
    
    <div class="content-box-left">
      <div class="user-box-frame">
        <div class="user-box-img">
          <%= image_tag @owner.image.url(:medium) %>
        </div>
        <div class="user-box-name">
          <%= @owner.first_name %> <%= @owner.last_name %>
        </div>
      </div>
    </div>
    <div class="content-box-right">
      <div class="content-title">
        <h2><%= pos.title %></h2>
      </div>
      <div class="meta-content">
        <%= pos.created_at.strftime("%A, %b %d, %Y at %I:%M%p")  %>
      </div>
      <div class="post-content">
        <%= truncate( pos.content, :length => 200) %>
        <!--<%= pos.content%>-->
      </div>
    </div>
    
  </div>
  <% end %>
  
<% end %>

</section>


<br />

<div class="col-md-6", id="pag-input-inline">
  <%= link_to 'New Trail', new_post_path, :class=>"a-btn" %>
</div>

</div>
</div>
</section>