<% provide(:title, "Show Post") %>

<br/><br/>

<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<!--< % @owner = User.find(@post.user_id)%>-->
<p>
  <strong>Created by:</strong>
  <!--< %= @owner.first_name %> < %= @owner.last_name %>-->
  <strong>Created at:</strong>
  <%= @post.created_at %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<!--< % if current_user.id == @post.user_id %>-->
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<!--< % end %>-->

<%= link_to 'Back', posts_path %>

</div>